<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i style="font-size:6rem;" class="fa-solid fa-hippo"></i>
    <h1 class="display-3">Diary of <%=name%></h1>
    <br>
      <% diaries.forEach(function(diary){ %>
        <div class="diary-wrapper">
            <h3 class="secret-text"><%= diary.date %> <%=diary.name%></h3>
            <p class="secret-text diary"><%= diary.value %></p>
        </div>
      <% }); %>
    <hr>
    <br>
    <%if(myDiary){%>
        <form method="post" action="/mydiary">
    <%}else{%>
        <form method="post" action="/ourdiary">
    <%}%>
        <textarea name="myNewDiary" placeholder="Write my mood today" required></textarea>
        <br>
        <button class="btn btn-light btn-lg" type="submit">Post</button><a class="btn btn-light btn-lg" href="/home" role="button">Home</a>
    </form>
    
  </div>
</div>

<%- include('partials/footer') %>
